# Ignore all files by default, but scan all directories
*
!*/

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cpp.template
!*.h
!*.h.template
!*.hpp
!*.inl
!*.inc
!*.m
!*.mm
!*.rc
!*.rc2
!*.def
!*.exp
!*.manifest

# Re-ignore vs host manifest
*.vshost.exe.manifest

# Java source files
!*.java
!*.java.template

# C# source files
!*.cs
!*.cs.template
!*.aspx
!*.resx

# Shader formats
!*.usf
!*.ush
!*.hlsl
!*.glsl

# Text files
!*.txt
!*.md

# Script files
!*.bat
!*.sh
!*.pl
!*.py
!*.js
!*.command

# Other configuration and markup files
!*.ini
!*.json
!*.tps
!*.xml
!*.xaml
!*.uproject
!*.uplugin
!*.html
!*.html.template
!*.css
!*.udn
!*.config
!*.version
!.git*

# Projects and makefiles
!*.cmake
!*.mk
!*.dsp
!*.dsw
!*.csproj
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.sln
!*.xcodeproj
!*.xcconfig
!*.vsprops
!*.snippet
!Makefile
!Makefile.*
!Settings.settings

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Unix backup files
*~

#Unreal specail files
!*.uasset
!*.umap

Intermediate/
obj/